.middle-wizzard input{
    font: 30px "Open Sans";
    font-weight:300;
    letter-spacing:0.1px;
    border-radius:0px;
    height:60px;
    width:700px;
    background-color:#34495e;
    color:white;
    border:none;
    padding:0px;
    text-transform: uppercase;
    position:relative;
    margin-top:60px;
    top:80px;
    left:235px;
    box-shadow: 0 0 5px #777;
}
